<article class="cardDetail" *ngIf="project">
  <div *ngIf="project.image">
    <img class="imgDetail" src="{{ url + 'get-image/' + project.image }}" />
  </div>
  <div class="contenedorDetail">
    <h2 class="titleDetail">{{ project.name }}</h2>
    <p class="copyDetail">{{ project.description }}</p>
    <p class="copyDetail">{{ project.category }}</p>
    <p class="copyDetail">{{ project.langs }}</p>
    <div class="ctaDetail" *ngIf="confirm == false">
      <!-- <a [routerLink]="['/editar-proyecto', project._id]" class="button-edit">
        Editar
      </a> -->
      <button [routerLink]="['/editar-proyecto', project._id]" type="button"
        class="btn btn-warning">Actualizar</button>
        &nbsp;&nbsp;
        <button (click)="setConfirm(true)" type="button"
        class="btn btn-danger">Borrar</button>
      <!-- <a (click)="setConfirm(true)" class="button-delete"> Borrar </a> -->

    </div>

    <div class="ctaDetail" *ngIf="confirm == true">
      <span class="confirm">¿Eliminar este proyecto?</span>
      <button (click)="setConfirm(false)" type="button" class="btn btn-success">Cancelar</button>&nbsp;&nbsp;<button
        (click)="deleteProject(project._id)" type="button" class="btn btn-danger">Eliminar
        </button>

      <!-- <a (click)="setConfirm(false)" class="btn button-edit">Cancelar</a> -->


      <!-- <a (click)="deleteProject(project._id)" class="btn button-delete"
        >Eliminar definitivamente</a> -->


    </div>
  </div>
</article>