<!DOCTYPE html>
<section class="gallery">
  <pagination-controls (pageChange)="pagina = $event" previousLabel="Anterior" nextLabel="Siguiente">
  </pagination-controls>

 <!--  <div class="container2">
     -->
    <ul class="ulProjects">
      <li class="project" *ngFor="let project of projects | paginate: { itemsPerPage: 6, currentPage: pagina }">
        <a [routerLink]="['/proyecto', project._id]">
          
            <img class="image" src="{{ url + 'get-image/' + project.image }}" *ngIf="project.image" />
          
          <h3>{{ project.name }}</h3>
          <p>{{ project.category }}</p>
        </a>
      </li>
    </ul>
  <!-- </div> -->
</section>