
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
